* {
  padding: 0;
  margin: 0;
}
.page {
  overflow-y: auto !important;
  min-height: 100%;
  overflow-x: hidden;
  width: 100vw;
}

.page_bg {
  width: 100vw;
  height: 1124px;
}
.page_bg img {
  width: 100%;
  height: 100%;
}

.page_button {
  width: 257px;
  height: 71px;
  position: fixed;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 40px;
}

.page_button a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.page_button a img {
  width: 100%;
  height: 100%;
}
