* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-all;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline:none;
  background: none;
  text-decoration: none;
}
.webank_containe {
  background-color: #ff576b;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  padding-bottom: 20px;
}

.webank_containe_head {
  height: 515px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.webank_containe_head img {
  width: 100%;
  height: 100%;
  display: block;
}
.webank_containe_head_1 {
  height: 460px;
  width: 100%;
}

.webank_containe_head_2 {
  height: 111px;
  width: 336px;
  margin-top: -50px;
}

.jump_items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.jump_items a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.jump_items img {
  width: 100%;
  height: 100%;
  display: block;
}
.jump_item {
  margin-top: 10px;
  width: 337px;
  height: 160px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/jump_1.png");
  background-size: 100% 100%;
}
.jump_sign {
  width: 46px;
  height: 46px;
  margin-top: 20px;
}

.jump_button {
  width: 241px;
  height: 70px;
  margin-top: 4px;
}
.jump_name {
  color: rgb(204, 204, 204);
  font-weight: bold;
  margin-top: 6px;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB,
    Microsoft Yahei, sans-serif;
}
